/*
 * CI-Usuarios  CSS base Style
 * 
 */ 

*{
    font-family: Verdana, Helvetica, Arial;
}


body {
    color: #4F5155;
}


.body {
    width: 990px;
    margin: 0 auto;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

.body h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 22px;
    font-weight: normal;
    margin: 0px;
    padding: 14px 15px 10px 15px;
}


.page-menu {
    width: 180px;
    float: left;
}

.page-menu a{
    font-size: 13px;
    text-decoration: None;

}


.page-body {
    border-left: 1px solid #D0D0D0;
    margin-left: 180px;
    width: 850px;
    min-height: 400px;
    padding: 10px;
}

.page-body h1{
    border: 0px;
}
